*{
    padding: 0px;
    margin: 0px;
}
/* ----------- header ---------------- */
header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px 5px;
    background-color: black;
    color: white;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 23px;
}
p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.logo{
    margin: auto;
    margin-left: 100px;
    text-transform: uppercase;
}

.logo p{
    font-size: 28px;
}

button{
    margin: auto;
    width: 100%;
    height: 90%;
    background: none;
    border: none;
    color: rgb(101, 102, 101);
    outline: none;

}

button :hover{
    color: rgba(101, 102, 101, 0.562);
}

/* ------------- homePage-bg ------------ */
.homePage-bg{
    background-image: url("images/bg-img2.jpg");
    height: 80vh;
    width: auto;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;

}


/*---------- playList-pg ----------*/
.playListCont-1{
    height: 80vh;
    width: auto;
    display: grid;
    background-color:rgb(6, 6, 7);
}

.playListCont-2{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
}

.gridItem{
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    margin: 4px;
}

#song1, #song2, #song3, #song4, #song5, #song6 {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

#song1{
    background-image: url("images/hey.jpg");
}

#song2{
    background-image: url("images/buddy.jpg");
}

#song3{
    background-image: url("images/cute.jpg");
}

#song4{
    background-image: url("images/memories.jpg");
}

#song5{
    background-image: url("images/going-higher.jpg");
}

#song6{
    background-image: url("images/acoustic-breeze.jpg");
}
