*{
    padding: 0px;
    margin: 0px;
}
/* ----------- header ---------------- */
header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px 5px;
    background-color: black;
    color: white;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    margin: auto;
    margin-left: 100px;
    font-size: 20px;
    text-transform: uppercase;
}

/* ------------- homePage-bg ------------ */
.homePage-bg{
    background-image: url("images/bg-img1.jpg");
    height: 100vh;
    width: auto;
    /* max-width: 100%;
    max-height: 100%; */

}