*{
    padding: 0px;
    margin: 0px;
}

header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 5px;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
}

.logo{
    padding-left: 100px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: aqua;
}